fastapi
uvicorn #web server that will run the FastAPI app
ffmpeg-python
numpy
pillow
scipy
pywavelets
python-multipart
requests
jinja2 #templating engine for rendering HTML pages
pytest-asyncio #for testing asynchronous FastAPI endpoints
httpx
pytest